:root {
  --color-primary: rgb(255, 98, 0);
  --border-radius: 5px;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

*,
* ::before,
* ::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

/*CONTAINERS*/

.container {
  max-width: 800px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: var(--border-radius);
}

/*MENU*/

.menu {
  border-bottom: 1px solid lightgray;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 10px lightgray;
  border-radius: var(--border-radius);
}

.menu_title {
  margin-left: 3rem;
  font-size: 2rem;
  color: var(--color-primary);
  font-weight: bold;
  white-space: nowrap;
}

.menu_login {
  margin-right: 3rem;
  white-space: nowrap;
}

/* BUTTON */

.btn {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: none;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 1rem;
  cursor: pointer;
}

.btn-orange {
  background-color: var(--color-primary);
  color: white;
}

.btn-login {
  width: 80%;
  margin: 010px auto;
}

/*LOGIN BOX*/

.loginBox {
  width: 300px;
  height: 400px;
  border: 1px solid var(--color-primary);
  margin: 20px auto;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login_input {
  width: 80%;
  height: 40px;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: 0 10px;
}

.login_text {
  text-align: center;
}

/*MAIN*/

.main {
  display: flex;
  justify-content: space-around;
}

.main1 {
  width: 100%;
  height: 200px;
}

.main_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
